<!doctype html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>03-11</title>
</head>
<body>
<div id="app">
  <p>잔고 : <input type="text" v-model="balance" /></p>
  <br />
  <p>
    <span>회원님의 등급 : </span>
    <span v-if="balance >= 1000000">Gold</span>
    <span v-else-if="balance >= 500000">Silver</span>
    <span v-else-if="balance >= 200000">Bronze</span>
    <span v-else>Basic</span>
  </p>
</div>
  <!-- PageScript -->
  <script type="text/javascript" src="https://unpkg.com/vue"></script>
  <script type="text/javascript">
    var vm = Vue.createApp({
      name: "App",
      data() {
        return {
          balance: 0
        }
      }
    }).mount('#app')
  </script>
  <!-- //PageScript -->
</body>
</html>